#todo-error{
  color: red;
  font-size: 2em;
}

#bg-image{
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
  /* background-image: url(""); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-op{
  background-color: rgba(255, 255, 255, .55);
}

.no-op{
  opacity: 1.0;
}

.bg-cat {
  background-image: url(mybg.jpg);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}